@import url(app.css);

.apply-counsellor-section {
  margin: 0 auto;
  width: 30%;
}

.apply-counsellor-container {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
option {
  text-transform: capitalize;
}

.form-btn:disabled {
  background-color: var(--darker-primary);
  color: white;
}
